# Creating Conditional Queries
    > **Hint** In the `stock_prices` table, the “date” column stores its data as strings and not as numerical values. To access this data via a SQL query, you need to place it in quotation marks&mdash;for example, “2019-08-07”.

In [1]:
# Import the required libraries and dependencies
import pandas as pd
from pathlib import Path
import sqlalchemy

In [2]:
# Using the Pandas read_csv funcion and the Path module, 
# read "stocks.csv" file into a Pandas DataFrame

stock_prices_df = pd.read_csv(
    Path("../Resources/stocks.csv")
)
 
# Review the DataFrame
stock_prices_df.head()

     AAPL    MSFT      TSLA       ZM        date
0  205.20  138.94  253.4800  99.7600  2019-07-15
1  204.49  137.08  252.4000  97.0400  2019-07-16
2  203.28  136.22  254.8300  99.7000  2019-07-17
3  205.66  136.28  253.5900  95.1000  2019-07-18
4  202.57  136.62  258.0789  93.3125  2019-07-19

In [3]:
# Create the connection string for your SQLite database
database_connection_string = 'sqlite:///'

# Pass the connection string to the SQLAlchemy create_engine function
engine = sqlalchemy.create_engine(database_connection_string)

# Confirm that the database engine was created.
engine

Engine(sqlite:///)

In [4]:
# Using the stock_prices_df DataFrame, create a table called stocks_prices
# inside your newly created database
# Be sure to include the parameters for the engine, the index, and if_exists with the function
stock_prices_df.to_sql(
    'stock_prices', 
    engine, 
    index=False, 
    if_exists='replace'
)

# Confirm that the table was created by calling the table_names function
engine.table_names()

['stock_prices']

## Step 5: Write a SQL query to return the "date" and “TSLA” columns, where the “TSLA” value is less than 400.

In [ ]:
# Write the SQL query to return the date and TSLA columns, where the TSLA value is less than 400.
query_tsla_less_400 = """
SELECT date, TSLA
FROM stock_prices
WHERE TSLA < 400
"""

# Call on the database engine to execute the query 
results = engine.execute(query_tsla_less_400)

# List of the results of the database query
list(results)

## Step 6: Write a SQL query to return the "date" and “TSLA” columns, where the TSLA value is greater than 400.

In [ ]:
# Write the SQL query to return the date and TSLA columns, where the TSLA value is greater than 400.
query_tsla_greater_400 = """
SELECT date, TSLA
FROM stock_prices
WHERE TSLA > 400
"""

# Call on the database engine to execute the query
results = engine.execute(query_tsla_greater_400)

# List of the results of the database query
list(results)

## Step 7: Write a SQL query to return the "date", “AAPL”, and “TSLA” columns, where the “date” column equals 2019-08-07.

In [7]:
query_date_2019_08_07 = """
SELECT date, TSLA, AAPL
FROM stock_prices
WHERE date = "2019-08-07"
"""

# Call on the database engine to execute the query
results = engine.execute(query_date_2019_08_07)

# List of the results of the database query
list(results)

[('2019-08-07', 233.47, 199.14)]