# Querying Top and Bottom Credit Scores

In [5]:
# Create and execute a query to return all columns for the 10 highest credit scores.
query_credit_top_10 = """
SELECT *
FROM credit_score_info
ORDER BY credit_score DESC
LIMIT 10;
"""

# Call on the database engine to execute the query
results = engine.execute(query_credit_top_10)

# List of the results of the database query
list(results)

[('Jacob Pineda', 'North Victoriaside', 842, 'Experian'),
 ('Dawn Underwood', 'New Brianshire', 830, 'Experian'),
 ('Rebecca Cook', 'North Lynnbury', 819, 'Equifax'),
 ('Tracey Smith', 'Janetview', 815, 'TransUnion'),
 ('Christy Wagner', 'Ritafort', 805, 'TransUnion'),
 ('Paul Hall', 'Bethshire', 794, 'Experian'),
 ('Morgan Bradshaw', 'Huynhfort', 792, 'Equifax'),
 ('Stacy Keller', 'Lauraborough', 791, 'Equifax'),
 ('Cynthia Strong', 'Emilymouth', 770, 'TransUnion'),
 ('Felicia Vargas', 'New Carol', 768, 'Experian')]

In [6]:
# Create and execute a query to return all columns for the 10 lowest credit scores.
query_credit_bottom_10 = """
SELECT *
FROM credit_score_info
ORDER BY credit_score ASC
LIMIT 10;
"""

# Call on the database engine to execute the query
results = engine.execute(query_credit_bottom_10)

# List of the results of the database query
list(results)

[('Christopher Baldwin', 'Lake Susan', 300, 'Equifax'),
 ('Robert Brown', 'North Rhonda', 301, 'Equifax'),
 ('Lynn Cain', 'Port Peterside', 311, 'Equifax'),
 ('Eric Russell', 'South Raymond', 315, 'Equifax'),
 ('Rachel Parker', 'Sarahfurt', 329, 'Experian'),
 ('Douglas Bridges', 'Lake Clayton', 333, 'Experian'),
 ('Julie Mendez', 'Port Jasonton', 334, 'TransUnion'),
 ('Tammy Blevins', 'Pachecobury', 334, 'Experian'),
 ('Debra Foster', 'Lake Alanmouth', 334, 'TransUnion'),
 ('Jamie Potter', 'South Joshuastad', 338, 'Experian')]